html,
body {
  /* height: 100%; */
}

body {
  margin: 0px;
  padding: 0px;
  background: #0B1624;
  color: rgb(214, 208, 208);
  font-size: large;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  transition: background .3s ease;
  font-family: 'Roboto Mono', monospace;
}

a {
  transition: color .3s ease;
  text-decoration: none;
  cursor: pointer;
  color: rgb(146, 133, 133);
}

a:hover {
  color: #FFF;
}

::-moz-selection {
  color: #0099e5
}

::selection {
  color: hsl(200, 100%, 45%);
}

.container {
  height: 100vh;
  display: grid;
  justify-self: center;
  align-self: center;
}

.content {
  text-align: center;
  align-self: center;
  font-size: larger;
  padding: 10px;
}


.name {
  font-size: xx-large;
  font-weight: 800;
}

.name span {
  font-weight: 600;
}

.my-image-container{
  margin-bottom: 20px;
}

.my-image{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

i {
  font-size: 40px;
  margin: 10px;
}

header {
  margin: 40px 0px;
}

header p {
  margin: 5px;
}

main p a {
  margin: 0px 20px;
}

button {
  background-color: rgb(146, 133, 133);
  padding: 10px 20px;
  font-size: large;
  font-weight: 600;
  cursor: pointer;
  border: 0px;
  border-radius: 5px;
}

button:active, button:focus{
  border: 0px;
  outline: none;
}
button:hover {
  color: #FFF;
  border: 0px;
}

button i {
  font-size: large
}
footer {
  margin: 20px 0px;
}